.image-container{
  display: block;
  position: relative;
  height:0;
  padding-bottom: 56.25%;
}

.image-wrapper{
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 100%;
  top: 0%;
  max-width: 100%;
  height: 100%;
}

.uploaded-image{
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.image-wrapper {
  border: solid 1px rgba(141, 97, 97, 0.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.imageCaption{
  width: 100%;
  text-align: center;
  position: relative;
  font-weight: 400;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  letter-spacing: -.02em;
  font-weight: 300;
  font-style: normal;
  font-feature-settings: "liga" on,"lnum" on;
  font-size: 16px;
  line-height: 1.4;
  color: rgba(0,0,0,.68);
  letter-spacing: 0;
  padding-top:6px;
}


  .image-component::-webkit-input-placeholder {
    text-align: center;
 }

 .image-component:-moz-placeholder { /* Firefox 18- */
    text-align: center;
 }

 .image-component::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
 }

 .image-component:-ms-input-placeholder {
    text-align: center;
 }



