body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #b8bbbe5c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.editor-container{
  padding: 8px 16px 0 16px;
  position: relative;
}

#editor{
  font-family: 'Nunito', sans-serif;
  position: relative;
  font-size: 16px;
  color: rgba(0,0,0,.84);
  word-break: break-word;
}

.action-panel {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #E2E5E9;
  display: flex;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.button-add-asset-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 16px;
  background: #FFFFFF;
  border: none;
  font-size: 16px;
  color: #535B62;
}