body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root{
  width: 375px;
  height: 100%;
  margin: 0 auto;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.app-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: contain;
}
.editor-container {
  padding: 8px 16px 16px 16px;
  position: relative;
  min-height: 24px;
  overflow: auto;
}
#editor {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: rgba(0,0,0,.84);
  word-break: break-word;
  min-height: 24px;
}
.action-panel {
  position: sticky;
  border-top: 1px solid #E2E5E9;
  display: flex;
  width: 100%;
  background: #fff;
}
.pointer {
  cursor: pointer;
}
.button-add-asset-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 16px;
  background: #fff;
  border: none;
  font-size: 16px;
  color: #535B62;
}