.editor-container {
  padding: 8px 16px 16px 16px;
  position: relative;
  min-height: 24px;
  overflow: auto;
}
#editor {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: rgba(0,0,0,.84);
  word-break: break-word;
  min-height: 24px;
}
.action-panel {
  position: sticky;
  border-top: 1px solid #E2E5E9;
  display: flex;
  width: 100%;
  background: #fff;
}
.pointer {
  cursor: pointer;
}
.button-add-asset-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 16px;
  background: #fff;
  border: none;
  font-size: 16px;
  color: #535B62;
}